@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05em;
}

h1,
h2,
h3 {
  font-family: 'Cormorant Garamond', serif;
  letter-spacing: 0.08em;
}